.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 79px;
  color: #aaa8a8;
}

.imgWrapper {
  background-color: rgba(84, 154, 154, 0.1);
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-bottom: 1rem;
}

.wrapper > p {
  font-size: 14px;
}
